.legal-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-family: 'Inter', sans-serif;
  width: calc(100vw - 232px);
  padding-top: 110px;
  height: calc(100vh - 206px);
  overflow-y: auto;
}

section {
  width: 90%;
  max-width: 1000px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header h1 {
  margin: 0;
  font-size: 61px;
}

.header .contact {
  display: flex;
  flex-direction: column;
}

.header .contact * {
  margin: 0;
}

.header .contact * a {
  color: #29ABE2;
  text-decoration: none;
}

h2 {
  margin: 0;
  font-size: 27px;
}

@media (max-width: 1250px) {
  .legal-frame {
    margin: 0;
  }

  h1 {
    font-size: 30px !important;
  }
}

@media (max-width: 1000px) {
  .legal-frame {
    width: 100%;
    padding-top: 50px;
    height: calc(100vh - 216px);
    overflow-y: auto;
  }
}
