<div class="summary-frame">

    <div class="summary-content">

        <div class="header">

            <h1>Join 360</h1>

            <div class="img-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="63" viewBox="0 0 4 63" fill="none">
                    <path d="M2 2V61" stroke="#29ABE2" stroke-width="3" stroke-linecap="round" />
                </svg>
            </div>

            <p>Key Metrics at a Glance</p>

        </div>

        <div class="information-container">

            <div class="todo-done-container">
                <div class="todo-done">
                    <div class="img-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="69" height="70" viewBox="0 0 69 70" fill="none">
                            <circle cx="34.5" cy="35" r="34.5" fill="#2A3647" />
                            <mask id="mask0_120784_5269" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="18"
                                y="19" width="33" height="32">
                                <rect x="18.5" y="19" width="32" height="32" fill="#D9D9D9" />
                            </mask>
                            <g mask="url(#mask0_120784_5269)">
                                <path
                                    d="M25.1667 44.3332H27.0333L38.5333 32.8332L36.6667 30.9665L25.1667 42.4665V44.3332ZM44.2333 30.8998L38.5667 25.2998L40.4333 23.4332C40.9444 22.9221 41.5722 22.6665 42.3167 22.6665C43.0611 22.6665 43.6889 22.9221 44.2 23.4332L46.0667 25.2998C46.5778 25.8109 46.8444 26.4276 46.8667 27.1498C46.8889 27.8721 46.6444 28.4887 46.1333 28.9998L44.2333 30.8998ZM42.3 32.8665L28.1667 46.9998H22.5V41.3332L36.6333 27.1998L42.3 32.8665Z"
                                    fill="white" />
                            </g>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
                            <circle cx="35.3945" cy="34.8083" r="34.5" fill="white" />
                            <mask id="mask0_62_588" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="19" y="18"
                                width="33" height="33">
                                <rect x="19.3945" y="18.8083" width="32" height="32" fill="#D9D9D9" />
                            </mask>
                            <g mask="url(#mask0_62_588)">
                                <path
                                    d="M26.0612 44.1418H27.9279L39.4279 32.6418L37.5612 30.7751L26.0612 42.2751V44.1418ZM45.1279 30.7084L39.4612 25.1084L41.3279 23.2418C41.839 22.7307 42.4668 22.4751 43.2112 22.4751C43.9556 22.4751 44.5834 22.7307 45.0945 23.2418L46.9612 25.1084C47.4723 25.6195 47.739 26.2362 47.7612 26.9584C47.7834 27.6807 47.539 28.2973 47.0279 28.8084L45.1279 30.7084ZM43.1945 32.6751L29.0612 46.8084H23.3945V41.1418L37.5279 27.0084L43.1945 32.6751Z"
                                    fill="#2A3647" />
                            </g>
                        </svg>
                    </div>
                    <div class="todo-done-text-container">
                        <h2>0</h2>
                        <p>To-do</p>
                    </div>
                </div>
                <div class="todo-done">
                    <div class="img-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
                            <circle cx="35" cy="35" r="34.5" fill="#2A3647" />
                            <path d="M20.0283 35.0001L31.2571 46.0662L49.9717 23.9341" stroke="white" stroke-width="7"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
                            <circle cx="34.8945" cy="34.8083" r="34.5" fill="white" />
                            <path d="M19.9229 34.8085L31.1516 45.8745L49.8662 23.7424" stroke="#2A3647" stroke-width="7"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="todo-done-text-container">
                        <h2>0</h2>
                        <p>Done</p>
                    </div>
                </div>
            </div>

            <div class="middle-container">
                <div class="urgent-container">
                    <div class="logo-amount-container">
                        <div class="img-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 61 61" fill="none">
                                <circle cx="30.1445" cy="30.8083" r="30" fill="#FF3D00" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="26" viewBox="0 0 35 26" fill="none">
                                <g clip-path="url(#clip0_62_711)">
                                    <path
                                        d="M33.0159 25.9714C32.6149 25.9721 32.2242 25.8425 31.9014 25.6018L17.7961 15.0719L3.69086 25.6018C3.49283 25.7499 3.26792 25.8571 3.02896 25.9172C2.78999 25.9774 2.54166 25.9893 2.29814 25.9524C2.05462 25.9154 1.82068 25.8302 1.60967 25.7018C1.39867 25.5733 1.21473 25.4041 1.06837 25.2037C0.922001 25.0033 0.816072 24.7757 0.756628 24.5339C0.697184 24.2921 0.68539 24.0408 0.721918 23.7944C0.79569 23.2967 1.06181 22.849 1.46174 22.5499L16.6816 11.1765C17.0041 10.9349 17.3948 10.8044 17.7961 10.8044C18.1974 10.8044 18.5881 10.9349 18.9107 11.1765L34.1305 22.5499C34.4483 22.7869 34.684 23.1194 34.8039 23.5001C34.9238 23.8807 34.9218 24.2899 34.7982 24.6693C34.6746 25.0487 34.4357 25.3789 34.1157 25.6127C33.7956 25.8466 33.4107 25.9721 33.0159 25.9714Z"
                                        fill="white" />
                                    <path
                                        d="M33.0159 16.0195C32.6149 16.0202 32.2242 15.8906 31.9014 15.6499L17.7961 5.11998L3.69087 15.6499C3.29094 15.949 2.78996 16.0751 2.29815 16.0004C1.80634 15.9258 1.36397 15.6565 1.06837 15.2518C0.772775 14.8471 0.648154 14.3401 0.721925 13.8425C0.795697 13.3448 1.06182 12.8971 1.46175 12.598L16.6816 1.22459C17.0041 0.98296 17.3948 0.852539 17.7961 0.852539C18.1974 0.852539 18.5881 0.98296 18.9107 1.22459L34.1305 12.598C34.4483 12.835 34.684 13.1675 34.8039 13.5482C34.9238 13.9288 34.9218 14.338 34.7982 14.7174C34.6746 15.0968 34.4357 15.427 34.1157 15.6608C33.7956 15.8947 33.4107 16.0202 33.0159 16.0195Z"
                                        fill="white" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_62_711">
                                        <rect width="34.186" height="25.1163" fill="white"
                                            transform="translate(0.703125 0.85498)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="amount-text">
                            <h2>0</h2>
                            <p>Urgent</p>
                        </div>
                    </div>
                    <div class="img-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="3" height="105" viewBox="0 0 3 105" fill="none">
                            <path d="M1.14453 1.79688V103.82" stroke="#D1D1D1" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </div>
                    <div class="date-container">
                        <h2>October 16, 2022</h2>
                        <p>Upcoming Deadline</p>
                    </div>
                </div>
                <div class="greeting-container">
                    <h2>Good morning,</h2>
                    <h2>Sofia Müller</h2>
                </div>
            </div>

            <div class="board-progress-feedback-container">
                <div>
                    <h1>1</h1>
                    <p>Tasks in <br> Board</p>
                </div>
                <div>
                    <h1>1</h1>
                    <p>Tasks In <br> Progress</p>
                </div>
                <div>
                    <h1>1</h1>
                    <p>Awaiting <br> Feedback</p>
                </div>
            </div>

        </div>

    </div>

</div>