.variant1 {
    background-color: #FF7A00;
}
.variant2 {
    background-color: #FF5EB3;
}
.variant3 {
    background-color: #6E52FF;
}
.variant4 {
    background-color: #9327FF;
}
.variant5 {
    background-color: #00BEE8;
}
.variant6 {
    background-color: #1FD7C1;
}
.variant7 {
    background-color: #FF745E;
}
.variant8 {
    background-color: #FFA35E;
}
.variant9 {
    background-color: #FC71FF;
}
.variant10 {
    background-color: #FFC701;
}
.variant11 {
    background-color: #0038FF;
}
.variant12 {
    background-color: #C3FF2B;
}
.variant13 {
    background-color: #FFE62B;
}
.variant14 {
    background-color: #FF4646;
}
.variant15 {
    background-color: #FFBB2B;
}