.variant1 {
    background-color: #FF7A00 !important;
}
.variant2 {
    background-color: #FF5EB3 !important;
}
.variant3 {
    background-color: #6E52FF !important;
}
.variant4 {
    background-color: #9327FF !important;
}
.variant5 {
    background-color: #00BEE8 !important;
}
.variant6 {
    background-color: #1FD7C1 !important;
}
.variant7 {
    background-color: #FF745E !important;
}
.variant8 {
    background-color: #FFA35E !important;
}
.variant9 {
    background-color: #FC71FF !important;
}
.variant10 {
    background-color: #FFC701 !important;
}
.variant11 {
    background-color: #0038FF !important;
}
.variant12 {
    background-color: #C3FF2B !important;
}
.variant13 {
    background-color: #FFE62B !important;
}
.variant14 {
    background-color: #FF4646 !important;
}
.variant15 {
    background-color: #FFBB2B !important;
}