<section class="board-frame">

    <div class="board-content">

        <header class="board-header">

            <h1>Board</h1>

            <div class="search-addtask-container">

                <div class="search-container">
                    <input type="text" placeholder="Find Task">
                </div>

                <button class="add-task">
                    Add Task
                    <div class="img-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <mask id="mask0_120784_5191" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                width="32" height="32">
                                <rect width="32" height="32" fill="#D9D9D9" />
                            </mask>
                            <g mask="url(#mask0_120784_5191)">
                                <path
                                    d="M14.666 17.3327H6.66602V14.666H14.666V6.66602H17.3327V14.666H25.3327V17.3327H17.3327V25.3327H14.666V17.3327Z"
                                    fill="white" />
                            </g>
                        </svg>
                    </div>
                </button>

            </div>

        </header>

        <div class="board-task-content">
            <div class="task-section todo-sec">
                <div class="task-head">
                    To do
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" fill="none">
                            <path d="M5 1.5V9.5" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.57544L1 5.57544" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <path d="M5 1V9" stroke="#29ABE2" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.07544L1 5.07544" stroke="#29ABE2" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <path d="M5 1V9" stroke="#091931" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.07544L1 5.07544" stroke="#091931" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </button>
                </div>
                <div class="tasks" dropzone="true" (dragover)="this.allowDropEvent($event)"
                    (drop)="this.dropTask($event, 'ToDo')">
                    <app-single-task *ngFor="let task of this.tasksToDO" (click)="this.infoTask = task"
                        [task]="task"></app-single-task>
                </div>
            </div>
            <div class="task-section in-progress-sec">
                <div class="task-head">
                    In progress
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" fill="none">
                            <path d="M5 1.5V9.5" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.57544L1 5.57544" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <path d="M5 1V9" stroke="#29ABE2" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.07544L1 5.07544" stroke="#29ABE2" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <path d="M5 1V9" stroke="#091931" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.07544L1 5.07544" stroke="#091931" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </button>
                </div>
                <div class="tasks" dropzone="true" (dragover)="this.allowDropEvent($event)"
                    (drop)="this.dropTask($event, 'InProgress')">
                    <app-single-task *ngFor="let task of this.tasksInProgress" (click)="this.infoTask = task"
                        [task]="task"></app-single-task>
                </div>
            </div>
            <div class="task-section await-feedback-sec">
                <div class="task-head">
                    Await feedback
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" fill="none">
                            <path d="M5 1.5V9.5" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.57544L1 5.57544" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <path d="M5 1V9" stroke="#29ABE2" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.07544L1 5.07544" stroke="#29ABE2" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <path d="M5 1V9" stroke="#091931" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.07544L1 5.07544" stroke="#091931" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </button>
                </div>
                <div class="tasks" dropzone="true" (dragover)="this.allowDropEvent($event)"
                    (drop)="this.dropTask($event, 'AwaitFeedback')">
                    <app-single-task *ngFor="let task of this.tasksAwaitFeedback" (click)="this.infoTask = task"
                        [task]="task"></app-single-task>
                </div>
            </div>
            <div class="task-section done-sec">
                <div class="task-head">
                    Done
                </div>
                <div class="tasks" dropzone="true" (dragover)="this.allowDropEvent($event)"
                    (drop)="this.dropTask($event, 'Done')">
                    <app-single-task *ngFor="let task of this.tasksDone" (click)="this.infoTask = task"
                        [task]="task"></app-single-task>
                </div>
            </div>
        </div>

    </div>

    <app-view-task-info *ngIf="this.infoTask != undefined" [task]="this.infoTask"
        (closeViewInfo)="this.closeViewTaskInfo()" (deleteTask)="this.deleteTask(this.infoTask)"
        (subtaskDone)="this.getSubtaskDone($event)"></app-view-task-info>

    <section class="edit-task-frame">
        <div class="background"></div>
        <div class="popup">
            <app-add-task class="add-task" [isPopUp]="true" [taskToEdit]="this.infoTask"></app-add-task>
        </div>
    </section>

</section>