<section class="board-frame">

    <div class="board-content">

        <header class="board-header">

            <h1>Board</h1>

            <div class="search-addtask-container">

                <div class="search-container">
                    <input type="text" placeholder="Find Task">
                </div>

                <button class="add-task" (click)="this.openCloseAddTaskPopup()">
                    Add Task
                    <div class="img-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <mask id="mask0_120784_5191" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                width="32" height="32">
                                <rect width="32" height="32" fill="#D9D9D9" />
                            </mask>
                            <g mask="url(#mask0_120784_5191)">
                                <path
                                    d="M14.666 17.3327H6.66602V14.666H14.666V6.66602H17.3327V14.666H25.3327V17.3327H17.3327V25.3327H14.666V17.3327Z"
                                    fill="white" />
                            </g>
                        </svg>
                    </div>
                </button>

            </div>

        </header>

        <div class="board-task-content">
            <div class="task-section todo-sec">
                <div class="task-head">
                    To do
                    <button (click)="this.openCloseAddTaskPopup()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" fill="none">
                            <path d="M5 1.5V9.5" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.57544L1 5.57544" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <path d="M5 1V9" stroke="#29ABE2" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.07544L1 5.07544" stroke="#29ABE2" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <path d="M5 1V9" stroke="#091931" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.07544L1 5.07544" stroke="#091931" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </button>
                </div>
                <div class="tasks" dropzone="true" (dragover)="this.allowDropEvent($event)"
                    (drop)="this.dropTask($event, 'ToDo')">
                    <app-single-task *ngFor="let task of this.tasksToDO" (click)="this.infoTask = task"
                        [task]="task"></app-single-task>
                </div>
            </div>
            <div class="task-section in-progress-sec">
                <div class="task-head">
                    In progress
                    <button (click)="this.createTaskWithState = 'InProgress'; this.openCloseAddTaskPopup()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" fill="none">
                            <path d="M5 1.5V9.5" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.57544L1 5.57544" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <path d="M5 1V9" stroke="#29ABE2" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.07544L1 5.07544" stroke="#29ABE2" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <path d="M5 1V9" stroke="#091931" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.07544L1 5.07544" stroke="#091931" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </button>
                </div>
                <div class="tasks" dropzone="true" (dragover)="this.allowDropEvent($event)"
                    (drop)="this.dropTask($event, 'InProgress')">
                    <app-single-task *ngFor="let task of this.tasksInProgress" (click)="this.infoTask = task"
                        [task]="task"></app-single-task>
                </div>
            </div>
            <div class="task-section await-feedback-sec">
                <div class="task-head">
                    Await feedback
                    <button (click)="this.createTaskWithState = 'AwaitFeedback'; this.openCloseAddTaskPopup()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" fill="none">
                            <path d="M5 1.5V9.5" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.57544L1 5.57544" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <path d="M5 1V9" stroke="#29ABE2" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.07544L1 5.07544" stroke="#29ABE2" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <path d="M5 1V9" stroke="#091931" stroke-width="2" stroke-linecap="round" />
                            <path d="M9 5.07544L1 5.07544" stroke="#091931" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </button>
                </div>
                <div class="tasks" dropzone="true" (dragover)="this.allowDropEvent($event)"
                    (drop)="this.dropTask($event, 'AwaitFeedback')">
                    <app-single-task *ngFor="let task of this.tasksAwaitFeedback" (click)="this.infoTask = task"
                        [task]="task"></app-single-task>
                </div>
            </div>
            <div class="task-section done-sec">
                <div class="task-head">
                    Done
                </div>
                <div class="tasks" dropzone="true" (dragover)="this.allowDropEvent($event)"
                    (drop)="this.dropTask($event, 'Done')">
                    <app-single-task *ngFor="let task of this.tasksDone" (click)="this.infoTask = task"
                        [task]="task"></app-single-task>
                </div>
            </div>
        </div>

    </div>

    <app-view-task-info *ngIf="this.infoTask != undefined && !this.openAddTaskPopup" [task]="this.infoTask"
        (closeViewInfo)="this.closeViewTaskInfo()" (deleteTask)="this.deleteTask(this.infoTask)"
        (subtaskDone)="this.getSubtaskDone($event)"
        (editTaskInPopup)="this.openAddTaskPopup = true"></app-view-task-info>

    <section *ngIf="this.openAddTaskPopup" class="edit-task-frame">
        <div class="background" (click)="this.openCloseAddTaskPopup()"></div>
        <div class="popup" [ngClass]="{'small-Popup': this.infoTask}">
            <button class="close-button" (click)="this.openCloseAddTaskPopup()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <mask id="mask0_71720_5473" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                        width="24" height="25">
                        <rect y="0.96582" width="24" height="24" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_71720_5473)">
                        <path
                            d="M11.9998 14.3659L7.0998 19.2659C6.91647 19.4492 6.68314 19.5409 6.3998 19.5409C6.11647 19.5409 5.88314 19.4492 5.6998 19.2659C5.51647 19.0825 5.4248 18.8492 5.4248 18.5659C5.4248 18.2825 5.51647 18.0492 5.6998 17.8659L10.5998 12.9659L5.6998 8.06587C5.51647 7.88254 5.4248 7.6492 5.4248 7.36587C5.4248 7.08254 5.51647 6.8492 5.6998 6.66587C5.88314 6.48254 6.11647 6.39087 6.3998 6.39087C6.68314 6.39087 6.91647 6.48254 7.0998 6.66587L11.9998 11.5659L16.8998 6.66587C17.0831 6.48254 17.3165 6.39087 17.5998 6.39087C17.8831 6.39087 18.1165 6.48254 18.2998 6.66587C18.4831 6.8492 18.5748 7.08254 18.5748 7.36587C18.5748 7.6492 18.4831 7.88254 18.2998 8.06587L13.3998 12.9659L18.2998 17.8659C18.4831 18.0492 18.5748 18.2825 18.5748 18.5659C18.5748 18.8492 18.4831 19.0825 18.2998 19.2659C18.1165 19.4492 17.8831 19.5409 17.5998 19.5409C17.3165 19.5409 17.0831 19.4492 16.8998 19.2659L11.9998 14.3659Z"
                            fill="#2A3647" />
                    </g>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <mask id="mask0_71720_5498" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                        width="24" height="25">
                        <rect y="0.96582" width="24" height="24" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_71720_5498)">
                        <path
                            d="M11.9998 14.3659L7.0998 19.2659C6.91647 19.4492 6.68314 19.5409 6.3998 19.5409C6.11647 19.5409 5.88314 19.4492 5.6998 19.2659C5.51647 19.0825 5.4248 18.8492 5.4248 18.5659C5.4248 18.2825 5.51647 18.0492 5.6998 17.8659L10.5998 12.9659L5.6998 8.06587C5.51647 7.88254 5.4248 7.6492 5.4248 7.36587C5.4248 7.08254 5.51647 6.8492 5.6998 6.66587C5.88314 6.48254 6.11647 6.39087 6.3998 6.39087C6.68314 6.39087 6.91647 6.48254 7.0998 6.66587L11.9998 11.5659L16.8998 6.66587C17.0831 6.48254 17.3165 6.39087 17.5998 6.39087C17.8831 6.39087 18.1165 6.48254 18.2998 6.66587C18.4831 6.8492 18.5748 7.08254 18.5748 7.36587C18.5748 7.6492 18.4831 7.88254 18.2998 8.06587L13.3998 12.9659L18.2998 17.8659C18.4831 18.0492 18.5748 18.2825 18.5748 18.5659C18.5748 18.8492 18.4831 19.0825 18.2998 19.2659C18.1165 19.4492 17.8831 19.5409 17.5998 19.5409C17.3165 19.5409 17.0831 19.4492 16.8998 19.2659L11.9998 14.3659Z"
                            fill="white" />
                    </g>
                </svg>
            </button>
            <app-add-task class="add-task" [taskState]="this.createTaskWithState" [isPopUp]="true" [taskToEdit]="this.infoTask"></app-add-task>
        </div>
    </section>

</section>