.board-frame {
    display: flex;
    justify-content: center;
    max-width: calc(100vw - 328px);
    width: 100vw;
    padding-top: 110px;
    padding-left: 96px;
    max-height: calc(100vh - 206px);
    height: calc(100% - 206px);
    background: #F6F7F8;
    overflow: auto;

    h1,
    h2,
    p {
        margin: 0;
    }

    .board-content {
        display: flex;
        flex-direction: column;
        gap: 48px;

        .board-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                color: #000;
                font-size: 61px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
            }

            .search-addtask-container {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 32px;

                .search-container {
                    position: relative;

                    input {
                        display: flex;
                        width: 312px;
                        height: 30px;
                        padding: 8px 16px;
                        align-items: center;
                        gap: 10px;
                        border-radius: 10px;
                        border: 1px solid var(--icon, #A8A8A8);
                        background: #FFF;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;

                        &::placeholder {
                            color: var(--Style, #D1D1D1);
                        }

                    }

                }

                .add-task {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 16px;
                    gap: 4px;
                    border-radius: 10px;
                    border: 1px solid #2A3647;
                    background: #2A3647;
                    color: var(--white, #FFF);
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;

                    &:hover {
                        background: #29ABE2;
                        border-color: #29ABE2;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    }

                    &:active {
                        background: #091931;
                        border-color: #2A3647;
                    }

                    .img-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 32px;
                        height: 32px;

                        svg {
                            width: 32px;
                            height: 32px;
                        }
                    }

                }

            }

        }

        .board-task-content {
            display: flex;
            gap: 25px;
            justify-content: space-between;
            align-items: flex-start;

            .task-section {
                display: flex;
                flex-direction: column;
                gap: 15.5px;

                .task-head {
                    display: flex;
                    width: 270px;
                    justify-content: space-between;
                    align-items: center;
                    flex-shrink: 0;
                    color: var(--menu-color, #42526E);
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;

                    button {
                        cursor: pointer;
                        display: flex;
                        width: 24px;
                        height: 24px;
                        padding: 3px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        flex-shrink: 0;
                        border-radius: 8px;
                        border: 2.5px solid var(--Version-2-main-color, #2A3647);

                        svg {
                            stroke-width: 40px;

                            &:nth-child(2),
                            &:nth-child(3) {
                                display: none;
                            }

                        }

                        &:hover {
                            border: 2.5px solid var(--Ligth-blue, #29ABE2);

                            svg {

                                &:nth-child(2) {
                                    display: flex;
                                }

                                &:nth-child(1),
                                &:nth-child(3) {
                                    display: none;
                                }
                            }
                        }

                        &:active {
                            border: 2.5px solid #091931;

                            svg {

                                &:nth-child(3) {
                                    display: flex;
                                }

                                &:nth-child(1),
                                &:nth-child(2) {
                                    display: none;
                                }
                            }
                        }

                    }

                }

                .tasks {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px 0;
                    width: 100%;
                    height: 50vh;
                    gap: 16px;
                    max-height: 50vh;
                    overflow-y: auto;
                    overflow-x: hidden;
                }

            }

        }

    }
}

@media (max-height: 960px) {
    .board-frame {
        padding-top: 80px;
        max-height: calc(100vh - 176px);
    }
}

@media (max-height: 920px) {
    .board-frame {
        padding-top: 48px;
        max-height: calc(100vh - 144px);
    }
}

@media (max-width: 1500px) {
    .board-frame {

        .board-header {
            padding-right: 20px !important;
            max-width: 860px;
        }

        .board-task-content {
            justify-content: center !important;
            flex-wrap: wrap !important;
            padding-right: 20px !important;
            max-width: 860px;
        }

    }
}

@media (max-width: 1222px) {

    .board-frame {

        .board-header {
            flex-direction: column;
            align-items: flex-start !important;
            max-width: 565px;
            gap: 40px;
        }

        .board-task-content {
            max-width: 565px;

            .task-section {

                .tasks {
                    height: fit-content !important;
                    flex-direction: row !important;
                    overflow-x: auto !important;
                    overflow-y: hidden !important;
                    max-width: 270px;
                    min-height: 270px;
                    gap: 0 !important;
                }

            }

        }

    }
}

@media (max-width: 1000px) {

    .board-frame {

        .board-header {
            flex-direction: column;
            align-items: flex-start !important;
            max-width: 270px;
            gap: 40px;

            .search-addtask-container {

                input {
                    width: 236px !important;
                }

                button {
                    display: none !important;
                }
            }

        }

        .board-task-content {
            max-width: 270px;

            .task-section {

                .tasks {
                    height: fit-content !important;
                    flex-direction: row !important;
                    overflow-x: auto !important;
                    overflow-y: hidden !important;
                    max-width: 270px;
                    min-height: 270px;
                    gap: 0 !important;
                }

            }

        }

    }

}