.board-frame {
    display: flex;
    justify-content: center;
    max-width: calc(100vw - 328px);
    width: 100vw;
    padding-top: 110px;
    padding-left: 96px;
    max-height: calc(100vh - 206px);
    height: calc(100% - 206px);
    background: #F6F7F8;
    overflow: auto;

    h1,
    h2,
    p {
        margin: 0;
    }

    .board-content {

        .board-header {
            display: flex;
            width: 1056px;
            justify-content: space-between;
            align-items: center;

            h1 {
                color: #000;
                font-size: 61px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
            }

            .search-addtask-container {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 32px;

                .search-container {
                    position: relative;

                    input {
                        display: flex;
                        width: 312px;
                        height: 30px;
                        padding: 8px 16px;
                        align-items: center;
                        gap: 10px;
                        border-radius: 10px;
                        border: 1px solid var(--icon, #A8A8A8);
                        background: #FFF;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;

                        &::placeholder {
                            color: var(--Style, #D1D1D1);
                        }

                    }

                }

                .add-task {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 16px;
                    gap: 4px;
                    border-radius: 10px;
                    border: 1px solid #2A3647;
                    background: #2A3647;
                    color: var(--white, #FFF);
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;

                    &:hover {
                        background: #29ABE2;
                        border-color: #29ABE2;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    }

                    &:active {
                        background: #091931;
                        border-color: #2A3647;
                    }

                    .img-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 32px;
                        height: 32px;

                        svg {
                            width: 32px;
                            height: 32px;
                        }
                    }

                }

            }

        }

    }
}