.registration-frame {

  h1,
  h2,
  p {
    margin: 0;
  }

  .registration-content {
    display: inline-flex;
    padding: 48px 88px;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 32px;
    border-radius: 30px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);

    .back-to-login {
      cursor: pointer;
      position: absolute;
      width: 32px;
      height: 32px;
      top: 64px;
      left: 48px;
      flex-shrink: 0;
      border: none;
      background-color: transparent;
      .arrow {
        display: flex;
      }
      .arrow-hovered {
        display: none;
      }

      &:hover {
        .arrow {
          display: none;
        }
        .arrow-hovered {
          display: flex;
        }
      }

    }

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      h1 {
        color: #000;
        text-align: center;
        font-size: 61px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
      }
    }

    .registration-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;

      .input-container {
        position: relative;

        input {
          display: flex;
          align-items: center;
          outline: none;
          width: 378px;
          padding: 12px 21px;
          gap: 10px;
          border-radius: 10px;
          border: 1px solid var(--Style, #D1D1D1);
          background: #FFF;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%;

          &::placeholder {
            color: var(--Style, #D1D1D1);
          }

          &:focus {
            border: 1px solid var(--Ligth-blue, #29ABE2);
          }

        }

        .icon-container {
          position: absolute;
          top: 50%;
          right: 21px;
          height: 24px;
          width: 24px;
          transform: translateY(-50%);
          background-position: center;
          background-repeat: no-repeat;
        }

        .icon-container-password {
          cursor: pointer;
        }

      }

      .wrong-input {
        input {
          border-color: #FF8190;
        }

        &::after {
          display: flex !important;
          color: #FF8190;
          position: absolute;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%;
        }

      }

      .name-after {
        &::after {
          display: none;
          content: "This field is required!";
          margin-top: 4px;
        }
      }

      .email-after {
        &::after {
          display: none;
          content: "Enter a valid email!";
          margin-top: 4px;
        }
      }

      .password-after-length {
        &::after {
          display: none;
          content: "Password must be at least 8 characters long!" !important;
          margin-top: 4px;
        }
      }

      .password-after-equal {
        &::after {
          display: none;
          content: "Passwords are not the same!";
          margin-top: 4px;
        }
      }

      .rememberme-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        margin-top: 14px;
        gap: 8px;
        width: 250px;

        #remembermecheckbox {
          display: none;

          &:checked + label {
            .box {
              display: flex;
            }

            .box-hovered {
              display: none;
            }

            &:hover {
              .box {
                display: none !important;
              }

              .box-hovered {
                display: flex;
              }
            }

          }

        }

        label {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          height: 24px;
          width: 24px;

          .box {
            display: flex;
          }

          .box-hovered {
            display: none;
          }

          &:hover {
            .box {
              display: none !important;
            }

            .box-hovered {
              display: flex;
            }
          }
        }

        p,
        a {
          transform: translateY(2px);
        }

        p {
          margin-left: 4px;
        }

        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 8px;
          color: var(--Ligth-blue, #29ABE2);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
            color: var(--Ligth-blue, #29ABE2);
          }

        }

      }

      button {
        display: flex;
        padding: 15px 24px;
        justify-content: center;
        align-items: center;
        align-self: center;
        border: none;
        gap: 10px;
        border-radius: 8px;
        background: #2A3647;
        color: #FFF;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;

        &:hover {
          cursor: pointer;
          background: var(--Ligth-blue, #29ABE2);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }

        &:active {
          background: #091931;
        }

      }

    }
  }

}

@media (max-width: 1000px) {
  .registration-content {
    padding: 32px 44px;
  }
}

@media (max-width: 700px) {
  .registration-content {
    padding: 32px 30px !important;

    .header {
      h1 {
        font-size: 47px !important;
      }
    }

    .registration-form {
      input {
        width: 320px !important;
      }
    }

  }
}

@media (max-width: 500px) {
  .registration-content {
    padding: 32px 15px !important;

    .back-to-login {
      top: 40px !important;
      left: 20px !important;
    }

    .registration-form {
      input {
        width: 240px !important;
      }
    }
  }
}

@media (max-width: 370px) {
  .registration-content {
    .registration-form {
      input {
        width: 200px !important;
      }
    }
  }
}
