.user-access-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
    width: 100%;
    background: #F6F7F8;

    .disappearing-container {
        position: fixed;
        top: 0;
        z-index: 1;
        height: 100vh;
        max-width: 100vw;
        width: 100%;
        background: #F6F7F8;
        animation: disappearing 3s 1s forwards;
    }

    .user-access-content {

        .logo-container {
            display: flex;
            flex-direction: row;

            .animate-join-logo {
                animation: animateLogo 2s 0s forwards ease-out;
            }

            .join-logo-big {
                display: flex;
                position: absolute;
                top: 80px;
                left: 77px;
                width: 100px;
                height: 122px;
                z-index: 2;
                transform: translate(0%, 0%);
                background-image: url('../../assets/Logos/Join_Logo_Dark.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }

            .logo-placeholder {
                display: none;
                height: 122px;
            }

        }

        .legal-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: fixed;
            bottom: 40px;
            left: 50%;
            gap: 16px;
            transform: translateX(-50%);

            a {
                text-decoration: none;
                display: flex;
                padding: 8px;
                align-items: center;
                gap: 8px;
                color: var(--icon, #A8A8A8);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    color: var(--Ligth-blue, #29ABE2);
                }

            }

        }

    }

}

@media (max-width: 1000px) {
    .user-access-frame {
        align-items: normal;
        padding-top: 37px;
        padding-bottom: 22px;
    }

    .logo-container-responsive {
        position: relative;
    }

    .disappearing-container {
        background-color: #2A3647 !important;
    }

    .logo-container {
        padding-bottom: 90px;

        .logo-placeholder {
            display: flex !important;
        }

    }

    .legal-container {
        align-self: center;
        justify-self: center;
        position: static !important;
        transform: none !important;
        margin-top: 42px;
    }
}

@media (max-width: 600px) {
    .join-logo-big-responsive {
        width: 88px !important;
        height: 100px !important;
    }

    .logo-placeholder {
        height: 100px !important;
    }
}

@media (max-width: 500px) {
    .join-logo-big-responsive {
        width: 64px !important;
        height: 78px !important;
    }

    .logo-placeholder {
        height: 78px !important;
    }
}

@keyframes animateLogo {
    0% {
        width: 274px;
        height: 334px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    50% {
        width: 274px;
        height: 334px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

@keyframes disappearing {
    0% {}

    100% {
        z-index: -1;
        opacity: 0;
    }
}