<section class="user-access-frame">

  <div class="disappearing-container" #disappearingcontainer></div>

  <div class="user-access-content">
    <div class="logo-container" #logoContainer>
      <div class="join-logo-big animate-join-logo" #bigLogo></div>
      <div class="logo-placeholder"></div>
    </div>
    <router-outlet></router-outlet>
    <div class="legal-container">
      <a (click)="router.navigate(['/legal/privacypolicy'])" target="_blank">Privacy Policy</a>
      <a (click)="router.navigate(['/legal/legalnotice'])" target="_blank">Legal notice</a>
    </div>
  </div>

</section>
