.user-access-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 100vw;
    width: 100%;
    background: #F6F7F8;

    .disappearing-container {
        position: fixed;
        top: 0;
        z-index: 1;
        height: 100vh;
        max-width: 100vw;
        width: 100%;
        background: #F6F7F8;
        animation: disappearing 3s 1s forwards;
    }

    .user-access-content {

        .join-logo-big {
            display: flex;
            position: fixed;
            width: 274px;
            height: 334px;
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translate(-50%, -50%);
            background-image: url('../../assets/Logos/Join_Logo_Dark.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            animation: animateLogo 2s 1s forwards;
        }

        .legal-container {
            display: inline-flex;
            justify-content: center;
            align-items: flex-start;
            position: fixed;
            bottom: 40px;
            left: 50%;
            gap: 16px;
            transform: translateX(-50%);

            a {
                text-decoration: none;
                display: flex;
                padding: 8px;
                align-items: center;
                gap: 8px;
                color: var(--icon, #A8A8A8);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    color: var(--Ligth-blue, #29ABE2);
                }

            }

        }

    }

}

@keyframes animateLogo {
    0% {}

    100% {
        top: 80px;
        left: 77px;
        width: 100px;
        height: 122px;
        transform: none;
    }
}

@keyframes disappearing {
    0% {

    }
    100% {
        z-index: -1;
        opacity: 0;
    }
}