<section class="login-frame">

    <div class="login-content">
        <div class="header">
            <h1>Log in</h1>
            <svg xmlns="http://www.w3.org/2000/svg" width="154" height="3" viewBox="0 0 154 3" fill="none">
                <path d="M152 1.5L2 1.5" stroke="#29ABE2" stroke-width="3" stroke-linecap="round" />
            </svg>
        </div>
        <form class="login-form">
            <div class="input-container">
                <input type="text" class="" placeholder="Email">
                <div class="icon-container icon-container-mail"></div>
            </div>
            <div class="input-container">
                <input type="text" placeholder="Password">
                <div class="icon-container icon-container-password"></div>
            </div>
            <div class="rememberme-container">
                <input type="checkbox" name="" id="remembermecheckbox">
                <label for="remembermecheckbox"></label>
                <p>Remember me</p>
            </div>
        </form>
        <div class="button-container">
            <button>Log in</button>
            <button (click)="this.authService.authGuestLogin()" >Guest Log in</button>
        </div>
    </div>
    <div class="not-a-user">
        <p>Not a Join user?</p>
        <button (click)="this.router.navigate(['registration'])">Sign up</button>
    </div>
</section>