.contact-information-frame {
  overflow: hidden;

  h1,
  h2,
  p {
    margin: 0;
  }

  .contact-information-content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 0 0 5px;
    gap: 21px;
    transform: translateX(200%);
    animation: slideIn 1s forwards;

    header {
      display: flex;
      align-items: center;
      gap: 54px;

      .user-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        gap: 10px;
        border-radius: 70px;
        border: 3px solid var(--white, #FFF);
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
        color: #FFF;
        text-align: center;
        font-size: 47px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
      }

      .name-action-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        h1 {
          color: #000;
          font-size: 47px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
        }

        .action-container {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          gap: 16px;

          button {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border: none;
            background-color: transparent;
            color: var(--Version-2-main-color, #2A3647);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            font-weight: 600;

            &:hover {
              color: #29ABE2;

              &:nth-child(1) {
                .icon-container {
                  background-image: url(../../../../../assets/Icons/Edit_Icon_blue.svg);
                }
              }

              &:nth-child(2) {
                .icon-container {
                  background-image: url(../../../../../assets/Icons/Delete_Icon_blue.svg);
                }
              }

            }

            .icon-container {
              height: 24px;
              width: 24px;
              background-position: center;
              background-repeat: no-repeat;
            }

            &:nth-child(1) {
              .icon-container {
                background-image: url(../../../../../assets/Icons/Edit_Icon.svg);
              }
            }

            &:nth-child(2) {
              .icon-container {
                background-image: url(../../../../../assets/Icons/Delete_Icon.svg);
              }
            }

          }

        }

      }

    }

    .information-header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 25px 0;
    }

    .information-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 22px;

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        h2 {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
        }

        a {
          text-decoration: none;
          color: #007CEE;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%;
        }

      }

    }

  }

  .responsive-action {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    padding: 10px;
    width: fit-content;
    bottom: 118px;
    right: 16px;
    z-index: 100;
    border-radius: 20px 20px 0 20px;
    background: var(--white, #FFF);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border: none;
      background-color: transparent;
      color: var(--Version-2-main-color, #2A3647);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      font-weight: 600;

      &:hover {
        color: #29ABE2;

        &:nth-child(1) {
          .icon-container {
            background-image: url(../../../../../assets/Icons/Edit_Icon_blue.svg);
          }
        }

        &:nth-child(2) {
          .icon-container {
            background-image: url(../../../../../assets/Icons/Delete_Icon_blue.svg);
          }
        }

      }

      .icon-container {
        height: 24px;
        width: 24px;
        background-position: center;
        background-repeat: no-repeat;
      }

      &:nth-child(1) {
        .icon-container {
          background-image: url(../../../../../assets/Icons/Edit_Icon.svg);
        }
      }

      &:nth-child(2) {
        .icon-container {
          background-image: url(../../../../../assets/Icons/Delete_Icon.svg);
        }
      }
    }
  }

  .togglebutton{
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    right: 16px;
    bottom: 118px;
    height: 56px;
    width: 56px;
    border-radius: 90px;
    border: 1px solid #2A3647;
    z-index: 100;
    background: #2A3647;

    &:hover {
      background: var(--Ligth-blue, #29ABE2);
      border-color: var(--Ligth-blue, #29ABE2);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &:active {
      background: #091931;
      border-color: #091931;
    }

    svg {
      pointer-events: none;
    }

  }

}

@keyframes slideIn {
  0% {
  }

  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 1000px) {
  header {
    .name-action-container {
      .action-container {
        display: none !important;
      }

    }
  }

  .togglebutton {
    display: flex !important;
  }
}

@media (max-width: 650px) {
  .contact-information-content {
    header {
      .user-icon {
        min-width: 100px !important;
        width: 100px !important;
        height: 100px !important;
        font-size: 30px !important;
      }

      .name-action-container {
        h1 {
          word-break: break-all !important;
        }
      }

    }
  }
}

@media (max-width: 500px) {
  .contact-information-content {
    header {
      gap: 20px !important;

      .user-icon {
        min-width: 80px !important;
        width: 80px !important;
        height: 80px !important;
        font-size: 20px !important;
      }

      .name-action-container {
        h1 {
          font-size: 36px !important;
        }
      }
    }
  }
}
