<section class="header-frame">
    <h1 class="header-text">Kanban Project Management Tool</h1>

    <div class="container">
        <div class="help-container"></div>
        <div (click)="this.changeShowPopup()" class="user-profile popup">{{this.initials}}</div>
    </div>

    <ul *ngIf="this.showPopup" class="profile-popup popup">
        <li class="popup">Legal Notice</li>
        <li class="popup">Privacy Policy</li>
        <li class="popup" (click)="this.logOut()">Log out</li>
    </ul>

</section>