.add-task-frame {
    display: flex;
    justify-content: center;
    max-width: calc(100vw - 328px);
    width: 100vw;
    max-height: calc(100vh - 206px);
    height: calc(100% - 206px);
    padding-top: 110px;
    padding-left: 96px;
    background: #F6F7F8;
    overflow: auto;

    h1,
    h2,
    p {
        margin: 0;
    }

    .add-task-content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        header {
            h1 {
                color: #000;
                font-size: 61px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
            }
        }

        .add-task-form {
            display: flex;
            flex-direction: column;
            gap: 80px;

            .task-set-value-container {
                display: flex;
                flex-direction: row;
                gap: 96px;

                .single-value-container {
                    display: flex;
                    position: relative;
                    width: 440px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;

                    .value-container {
                        display: flex;
                        flex-direction: column !important;
                        align-items: flex-start;
                        gap: 8px;

                        .input-container {
                            position: relative;
                            width: 440px;

                            input {
                                cursor: pointer;

                                &::placeholder {
                                    color: #000;
                                }

                            }

                            button {
                                cursor: pointer;
                                display: flex;
                                position: absolute;
                                right: 16px;
                                top: 50%;
                                transform: translateY(-50%);
                                border: none;
                                border-radius: 90px;
                                height: 24px;
                                width: 24px;
                                padding: 0;
                                background-color: transparent;

                                &:hover {
                                    background-color: #EEEEEE
                                }

                                svg {
                                    height: 24px;
                                    width: 24px;
                                }

                                .rotate {
                                    transform: rotate(180deg);
                                }

                            }

                        }

                    }

                    .list {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        list-style: none;
                        border-radius: 10px;
                        border: 1px solid #D1D1D1;
                        overflow: auto;
                        padding: 0;
                        gap: 3px;
                        width: calc(100% - 2px);
                        max-height: 200px;
                        bottom: 0;
                        margin: 0;
                        z-index: 1;
                        background-color: #FFF;
                        transform: translateY(100%);

                        &::-webkit-scrollbar {
                            width: 5px;
                        }

                        &::-webkit-scrollbar-track {
                            border-radius: 8px;
                            background: #d1d1d1;
                        }

                        &::-webkit-scrollbar-thumb {
                            border-radius: 8px;
                            background: #2A3647;
                        }

                        &::-webkit-scrollbar-thumb:hover {
                            background: #29ABE2;
                        }

                        li {
                            cursor: pointer;
                            display: flex;
                            padding: 12px 16px;
                            justify-content: space-between;
                            align-items: center;
                            border-radius: 10px;

                            &:hover {
                                background-color: #EEEEEE;
                            }

                        }

                    }

                    div {
                        display: flex;
                        flex-direction: row;
                        color: var(--Version-2-main-color, #2A3647);
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;

                        p {
                            color: #FF8190;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                        }

                    }

                    input {
                        display: flex;
                        padding: 12px 21px;
                        align-items: center;
                        outline: none;
                        gap: 10px;
                        align-self: stretch;
                        border-radius: 10px;
                        flex: 1 0 0;
                        border: 1px solid var(--Style, #D1D1D1);
                        background: #FFF;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;

                        &::placeholder {
                            color: var(--Style, #D1D1D1);
                        }

                        &:focus {
                            border: 1px solid var(--Ligth-blue, #29ABE2);
                        }

                    }

                }

                .wrong-input {

                    input {
                        border: 1px solid #FF8190;
                    }

                    &::after {
                        content: "This field is required!";
                        position: absolute;
                        color: #FF8190;
                        bottom: -16px;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }

                }

                .title-description-assigned-container {
                    display: flex;
                    width: 440px;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 32px;

                    .description-container {
                        textarea {
                            display: flex;
                            outline: none;
                            height: 120px;
                            padding: 18px 16px;
                            align-items: flex-start;
                            gap: 10px;
                            align-self: stretch;
                            resize: none;
                            border-radius: 10px;
                            border: 1px solid var(--Style, #D1D1D1);
                            background: #FFF;
                            font-family: Inter, sans-serif;

                            &::placeholder {
                                color: var(--Style, #D1D1D1);
                            }

                            &:focus {
                                border: 1px solid var(--Ligth-blue, #29ABE2);
                            }

                        }
                    }

                    .assigned-container {

                        .selectedContactsContainer {
                            display: flex;
                            position: absolute;
                            overflow-y: auto;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: center;
                            max-height: 50px;
                            padding: 5px;
                            width: calc(100% - 10px);
                            gap: 8px;
                            bottom: 0;
                            transform: translateY(calc(100% + 8px));

                            &::-webkit-scrollbar {
                                width: 5px;
                            }

                            &::-webkit-scrollbar-track {
                                border-radius: 8px;
                                background: #d1d1d1;
                            }

                            &::-webkit-scrollbar-thumb {
                                border-radius: 8px;
                                background: #2A3647;
                            }

                            &::-webkit-scrollbar-thumb:hover {
                                background: #29ABE2;
                            }

                            .selected-contact {
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #FFF;
                                height: 42px;
                                width: 42px;
                                border-radius: 90px;
                                border: 2px solid #FFF;

                                &:hover {
                                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                                }

                            }

                        }

                        .contact-list {
                            position: absolute;
                            list-style: none;
                            width: calc(100% - 2px);
                            padding: 0;
                            margin: 0;
                            bottom: 0;
                            z-index: 1;
                            border-radius: 10px;
                            border: 1px solid #D1D1D1;
                            transform: translateY(100%);
                            background-color: #FFF;
                        }

                    }

                }

                .date-prio-category-subtask-container {
                    display: flex;
                    width: 440px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 40px;

                    .date-container {
                        input {
                            display: flex;
                            height: 48px;
                            padding: 24px 16px;
                            justify-content: space-between;
                            align-items: center;
                            align-self: stretch;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            font-family: Inter, sans-serif;

                            &::placeholder {
                                color: var(--Style, #D1D1D1);
                            }

                        }
                    }

                    .prio-container {

                        .select-container {
                            display: flex;
                            width: 440px;
                            justify-content: center;
                            align-items: center;
                            gap: 16px;

                            button {
                                cursor: pointer;
                                display: flex;
                                padding: 16px 10px;
                                justify-content: center;
                                align-items: center;
                                border: none;
                                gap: 8px;
                                flex: 1 0 0;
                                border-radius: 10px;
                                background: var(--white, #FFF);
                                box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
                                color: #000;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 120%;

                                &:hover {
                                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                                }

                            }

                        }

                    }

                    .subtasks-container {

                        .value-container {

                            .input-container {
                                input {
                                    &::placeholder {
                                        color: var(--Style, #D1D1D1);
                                    }
                                }
                            }

                        }

                        .subtask-list {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            padding: 0;
                            margin: 0;
                        }
                    }

                }

            }

            .info-button-container {
                display: flex;
                flex-direction: column;
                padding-bottom: 20px;

                .button-container {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    align-self: flex-end;
                    width: fit-content;
                    gap: 16px;

                    button {
                        cursor: pointer;
                        display: flex;
                        padding: 16px;
                        justify-content: center;
                        align-items: center;
                        gap: 4px;
                        border-radius: 10px;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;

                        &:nth-child(1) {
                            color: var(--Version-2-main-color, #2A3647);
                            border: 1px solid var(--Version-2-main-color, #2A3647);
                            background: #F6F7F8;

                            svg {
                                &:nth-child(1) {
                                    display: flex;
                                }

                                &:nth-child(2) {
                                    display: none;
                                }

                                &:nth-child(3) {
                                    display: none;
                                }
                            }

                            &:hover {
                                color: var(--Ligth-blue, #29ABE2);
                                border-color: #29ABE2;
                                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                                svg {
                                    &:nth-child(1) {
                                        display: none;
                                    }

                                    &:nth-child(2) {
                                        display: flex;
                                    }

                                    &:nth-child(3) {
                                        display: none;
                                    }
                                }

                            }

                            &:active {
                                color: #091931;
                                border-color: #091931;
                                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                                svg {
                                    &:nth-child(1) {
                                        display: none;
                                    }

                                    &:nth-child(2) {
                                        display: none;
                                    }

                                    &:nth-child(3) {
                                        display: flex;
                                    }
                                }

                            }

                        }

                        &:nth-child(2) {
                            font-weight: 700;
                            color: #FFF;
                            background: #2A3647;
                            border: 1px solid var(--Version-2-main-color, #2A3647);

                            &:hover {
                                background: #29ABE2;
                                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                                border-color: #29ABE2;
                            }

                            &:active {
                                background: #091931;
                                border-color: #091931;
                                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            }

                        }

                    }

                }

                .info-container {
                    div {
                        display: flex;
                        flex-direction: row;
                        color: #000;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;

                        p {
                            color: #FF8190;
                        }

                    }
                }

            }

        }

    }

}