.help-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-family: 'Inter', sans-serif;
  width: calc(100vw - 332px);
  padding-top: 110px;
  padding: 110px 50px 0 50px;
  height: calc(100vh - 206px);
  overflow-y: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.header h1 {
  margin: 0;
  font-size: 61px;
}

.header .contact {
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0;
  font-size: 27px;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 16px;
  counter-reset: li; /* Initialisieren des Zählers */
  list-style: none; /* Entfernen der Standard-Nummerierung */
}

ol li {
  display: flex;
  flex-direction: row;
  counter-increment: li; /* Erhöhen des Zählers bei jedem li */
}

ol li div {
  display: flex;
  flex-direction: column;
}

ol li::before {
  content: counter(li) "."; /* Anzeigen des Zählerwerts vor dem li */
  font-size: 30px; /* Setzen der Schriftgröße */
  margin-right: 10px; /* Hinzufügen eines rechten Randes */
}

@media (max-width: 1250px) {
  .help-frame {
    margin: 0;
  }

  h1 {
    font-size: 30px !important;
  }
}

@media (max-width: 1000px) {
  .help-frame {
    width: calc(100% - 50px);
    padding: 50px 25px 0 25px;
    height: calc(100vh - 216px);
    overflow-y: auto;
  }
}
